@import url("file:///home/yigiterensoy/.config/current/theme/walker.css");

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 15px;
  color: @foreground;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@background, 0.95);
  padding: 14px;
  border: 2px solid #33ccffee;
}

.preview-box {
}

.box {
}

.search-container {
  background: @background;
  padding: 8px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @color6;
}

child:selected {
  background: alpha(@foreground, 0.07);
}

.item-box {
  padding-left: 10px;
}

.item-text-box {
  all: unset;
  padding: 10px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 10px;
  -gtk-icon-size: 24px;
}

.current {
  font-style: italic;
}

.keybinds {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}

